<div class="panel panel-default">

  <table class="table">
    <thead>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    </thead>
    <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <%= note.title %>
        </td>
        <td>
          <%= note.content %>
        </td>
        <td>
          <%= link_to 'Edit', edit_note_path(note) %>
        </td>
        <td>
          <%= link_to 'Delete', note, method: :delete %>
        </td>
      </tr>

    <% end %>

    </tbody>

  </table>

</div>